/*==========================================================[Digital Card]========================================================*/
.digital-card-container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 50px;
}



.digital-card {
    border-radius: 20px;
    padding: 30px;
    margin: 10px 0;
    width: 100%;
    background-attachment: fixed;
    max-width: 750px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.digital-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.profile-image {
    flex-shrink: 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
}

.profile-image .qr-code {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: .3s;
    cursor: pointer;
}

.qr-code svg {
    color: darkblue !important;
}

.profile-image .qr-code:hover {
    background-color: #ccc;
}

.p-dialog {
    background-color: white;
    width: 400px;
    max-width: 100%;
    margin: 20px;
}

.p-dialog-header {
    padding-bottom: 10px;
    border-bottom: 2px dotted var(--main-color);
    margin-bottom: 25px;
}

.p-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.p-dialog button.share {
    background-color: var(--main-color);
    margin-left: 10px;
}

.p-dialog button.download {
    border: 1px solid var(--main-color) !important;
    color: var(--bg-col-4);
}


.profile-image img {
    width: 180px;
    height: 180px;
    border: 3px dotted var(--bg-5);
    box-shadow: 0 0px 10px 5px rgba(0, 0, 255, 0.6);
    object-fit: cover;
    filter: grayscale(0.3);
    transition: filter 0.3s ease;
    border-radius: 50%;
}

.digital-card:hover .profile-image img {
    filter: grayscale(0);
}

.profile-info {
    flex-grow: 1;
}

.profile-info h1 {
    color: var(--second-txt);
    text-shadow: var(--txt-shadow);
    line-height: .8;
}

.profile-info h3 {
    color: var(--main-txt-3);
    text-shadow: var(--txt-shadow);
    font-weight: 500;
    opacity: 0.9;
}

.user-description {
    color: var(--main-txt-3);
    text-shadow: var(--txt-shadow);
    line-height: 1.2;
    margin: 0;
    text-align: justify;
}

.card-footer {
    border-top: 2px dotted var(--bg-5);
    padding-top: 20px;
    margin-top: 30px;
}

.social-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    justify-content: center;
}

.social-link {
    padding: 6px 15px;
    background: var(--bg-2);
    color: var(--main-txt-1);
    text-decoration: none;
    border-radius: 25px;
    font-family: main-font-Neo;
    font-size: 0.9em;
    border: 1px solid var(--bg-4);
    transition: all 0.3s ease;
    text-shadow: var(--txt-shadow);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link svg {
    font-size: 25px;
}

.social-link .open-lnk-icon svg {
    font-size: 15px;
}

.social-link:hover {
    background: rgba(0, 0, 139, 0.2);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 0px 10px rgba(0, 0, 255, 0.3);
    border-color: var(--bg-5);
}

.download svg {
    color: var(--second-txt) !important;
}


.download:hover svg {
    color: var(--main-txt-3) !important;
}


.not-found-message svg {
    color: var(--bg-5) !important;
}

@media (max-width: 600px) {
    .digital-card {
        padding: 30px 15px;
    }

    .card-header {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .social-link svg {
        font-size: 25px;
        padding: 0px 0px;
    }

    .profile-image img, .profile-image {
        width: 150px;
        height: 150px;
    }

    .profile-info h1 {
        font-size: 35px !important;
    }

    .profile-info h3 {
        font-size: 25px !important;
    }

}